:root {
    --dark: #212529;
    --dark-blue: #001023;
    --yellow: #f0d402;
    --yellow-orange: #f0c402;
    --white: #ffffff;
    --bg-light: #efefef;
    --bg-dark: #242424;
    --grey-dark: #494747; 
    --grey-light: #dbdada;
}

::selection {
    background-color: var(--dark-blue);
    color: #f7f7ff;
}

a{
    color:var(--yellow);
}

span{
    color: var(--yellow);
}

.btn-primary{
    background-color: var(--dark-blue);
    border-color: var(--dark-blue);
    color: var(--white);
}

body{
    background-color: #efefef;
}
/** Menu**/
/* Efevto hover item menu*/
.nav-item::after {
    background-color: var(--yellow);
}

.navbar.scrolled {
    background-color: #efefef;
}

#changing-text{
    color: #dbdada;
}

/* Section : Portfolio */
.card{
    background-color: #f9f7f7;
    border: none;
}

/* Section : Contacto */
#contacto{
    background-color: #242424;
}

/*Footer*/
footer{
    background-color: var(--bg-dark);
}
footer hr{
    color: var(--white);
}