body{
    background-color: #efefef;
}
/** Menu**/
.navbar.scrolled {
    background-color: #efefef;
}

#changing-text{
    color: #dbdada;
}

/* Section : Contacto */
#contacto{
    background-color: #242424;
}