h2{
    font-size: 4em;
    margin-bottom:2em
}

img{
    max-width: 100%;
}

header{
    min-height: 100vh;
}

.section:not(:last-of-type){
    padding-bottom: 10em;
}

#modoButton{
    width: 30px;
    height:fit-content;
}

 #changing-text{
    position: absolute;
    z-index: -1;
    top: 70%;
    font-size: 12em;
    max-width: 100%;
    text-overflow: ellipsis;
}

.invisible {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity linear;
  }
  .visible {
    visibility: visible;
    opacity: 1;
    transition: opacity  linear;
  }
.card{
    margin-bottom: 2em;
}
.shadow_animation{
    transition: 0.4s;
}

.shadow_animation:hover{
    box-shadow: -13px 24px 48px -16px #a1a1a1;
    transform: scale(1.05);
    transition: 0.4s;
}

/* Section : Lenguajes */
div#lenguajes > div > img{
    height: fit-content;
}

/* Section : Contacto */

#contacto div.row > :first-child{
    padding-left: 10%;
}

#contacto div.row > :last-child{
    overflow: hidden;
    max-height: 800px;
}

/* Media Queries*/
@media (max-width: 768px) {
    .container{
        max-width:90%;
    }
   #changing-text{
        font-size: 2em;
        max-width: 100%;
    }
}

@media (max-width: 991px) {
    h2{
        font-size: 3em;
    }
    a.navbar-brand{
        max-width: 50%;
    }

    
}

@media (min-width: 992px) {
    a.navbar-brand{
        max-width: 25%;
    }

    header > div > img{
        min-width: 28em;
    }

}
  

